PORT=5000
MONGO_URI=mongodb+srv://hamdysameh480:Salma@1420@cluster0.gzu2wrr.mongodb.net/?appName=Cluster0
JWT_SECRET=abc123loveproject
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@love.com
ADMIN_PASSWORD=Love@2024
VIEWER_TOKEN=1272004
CLOUDINARY_CLOUD_NAME=dqgwimtd4
CLOUDINARY_API_KEY=533423553382691
CLOUDINARY_API_SECRET=RP9SJhmkWM-fvZ7ZGft-Qicd3X8